<!-- Main -->
<div class="wrapper style1">

  <div class="container">
    <div class="row">
      <div class="12u skel-cell-mainContent" id="content">
        <article id="main" class="special">
          <header>
            <h2><a href="#">Page not found (404)</a></h2>
            <span class="byline">
              The page your looking for is missing or gone.<br/> Time to grab a craft beer and <a href="/#blog-directory">read a blog.</a>
            </span>
          </header>
          <section class="special">
            <p style="text-align: center;">
              <a class="button" href="/#blog-directory">Blog Directory</a>
            </p>
          </section>
        </article>
      </div>
    </div>
    
  </div>

</div>
