
<!-- Banner -->
<div id="banner" class="wrapper style1">
  <h2>Hi. We're the <strong>Bay Area Beer Bloggers</strong>.</h2>
  <span class="byline">
    We're a group of beer loving friends who share a passion for drinking beer and writing about beer.  We get together once a month to talk shop and socialize at rotating places around the Bay Area.
  </span>
</div>


<!-- Features -->
<div class="wrapper style1">
  
  <section id="features" class="container special">
    <header>
      <a name="blog-directory"></a>
      <h2>Blog Directory</h2>
      <span class="byline">Listing of the SF Bay Area Beer Blogs.</span>
    </header>
    <div class="row">
      <article class="6u special">
        <!-- <a href="http://mdomaradzki.deviantart.com/art/Bueller-VII-351975126" class="image featured"><img src="images/pic07.jpg" alt="" /></a> -->
        <header>
          <h3><a href="#">Citizen Beer Blogs</a></h3>
        </header>
        <p>
          Citizen Beer Blogs are "those not designed to promote a brewery or other business (media-based blogs are okay)." &mdash;<a style="font-size: 80%;" href="http://beerbloggersconference.org/beer-blogs/">Beer Bloggers Conference</a>
        </p>
        <%- partial("_partials/blogs", { blogs: blogs.citizen }) %>
      </article>
      <article class="6u special">
        <!-- <a href="http://mdomaradzki.deviantart.com/art/Home-Bound-Train-II-338912191" class="image featured"><img src="images/pic08.jpg" alt="" /></a> -->
        <header>
          <h3><a href="#">Industry Beer Blogs</a></h3>
        </header>
        <p>
          Industry beer blogs ones operated by breweries, brewer's guilds, distributors, retailers, or other companies promoting their beer related products.
        </p>
        <%- partial("_partials/blogs", { blogs: blogs.industry }) %>
      </article>
<%/*
      <article class="4u special">
        <!-- <a href="http://mdomaradzki.deviantart.com/art/Up-is-Down-325005102" class="image featured"><img src="images/pic09.jpg" alt="" /></a> -->
        <header>
          <h3><a href="#">Inactive Beer Blogs</a></h3>
        </header>
        <p>
          Just because a blog is no longer active doesn't mean it is not useful. Many old blogs have great stories and photos that stand up to the test of time.
        </p>
      </article>
*/%>
    </div>
  </section>

</div>

<!-- Latest Article -->
<div class="wrapper style1">

  <article id="main" class="container special">
    <a href="http://mdomaradzki.deviantart.com/art/Planet-Bronte-339258500" class="image featured"><img src="images/pic06.jpg" alt="" /></a>
    <header>
      <h2><a href="#">Sed massa imperdiet magnis</a></h2>
      <span class="byline">
        Sociis aenean eu aenean mollis mollis facilisis primis ornare penatibus aenean. Cursus ac enim 
        pulvinar curabitur morbi convallis. Lectus malesuada sed fermentum dolore amet.
      </span>
    </header>
    <p>
      Commodo id natoque malesuada sollicitudin elit suscipit. Curae suspendisse mauris posuere accumsan massa 
      posuere lacus convallis tellus interdum. Amet nullam fringilla nibh nulla convallis ut venenatis purus 
      sit arcu sociis. Nunc fermentum adipiscing tempor cursus nascetur adipiscing adipiscing. Primis aliquam 
      mus lacinia lobortis phasellus suscipit. Fermentum lobortis non tristique ante proin sociis accumsan 
      lobortis. Auctor etiam porttitor phasellus tempus cubilia ultrices tempor sagittis. Nisl fermentum 
      consequat integer interdum integer purus sapien. Nibh eleifend nulla nascetur pharetra commodo mi augue 
      interdum tellus. Ornare cursus augue feugiat sodales velit lorem. Semper elementum ullamcorper lacinia 
      natoque aenean scelerisque.
    </p>
    <footer>
      <a href="#" class="button">Continue Reading</a>
    </footer>
  </article>

</div>
