<div id="footer">
  <div class="container">
    <div class="row">
      <div class="12u">
        
        <!-- Contact -->
          <section class="contact">
            <header>
              <h3>Bay Area Beer Bloggers</h3>
            </header>
            <p>Craft Beer Bloggers in the San Francisco Bay Area</p>
            <ul class="icons">
              <li><a href="mailto:babb-press@googlegroups.com" class="fa fa-envelope"><span>Email</span></a></li>
              <li><a href="https://twitter.com/hashtag/sfbabb?src=hash" class="fa fa-twitter"><span>Twitter Hashtag</span></a></li>
            </ul>
          </section>
        
        <!-- Copyright -->
          <div class="copyright">
            <ul class="menu">
              <li>Content License: <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0</a></li>
              <li>Design: <a href="http://html5up.net/">HTML5 UP</a></li>
              <li>Modified to work with the <a href="https://www.harp.io">Harp Platform</a></li>
            </ul>
          </div>
        
      </div>
    
    </div>
  </div>
</div>
